*.iml
.gradle
/.kotlin
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

ios/TUKI/Secrets.generated.xcconfig
ios/TUKI/Config/Secrets.generated.xcconfig

# Xcode user-specific files
**/xcuserdata/
*.xcuserstate