{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Login": {
    "ApiKeyLifetimeHours": 8
  },
  "Facebook": {
    "AppId": "",
    "AppSecret": ""
  },
  "ConnectionStrings": {
    "TukiDbConnection": ""
  },
  "Valhalla": {
    "BaseUrl": ""
  },
  "Cors": {
    "AllowedOrigins": [
      "http://localhost:3000",
      "http://localhost:5173"
    ]
  }
}
