ASPNETCORE_ENVIRONMENT=Staging
ASPNETCORE_HTTP_PORTS=5129
ConnectionStrings__TukiDbConnection='Server=sqlserver-staging,1433;Database={{ tuki_staging_database_name }};User Id=sa;Password={{ tuki_mssql_sa_password | replace("'", "\\'") }};Encrypt=True;TrustServerCertificate=True'
Valhalla__BaseUrl=http://valhalla-staging:8002
Pelias__BaseUrl=http://pelias-staging:4000
Cors__AllowedOrigins__0='https://{{ tuki_staging_admin_hostname }}'

AdminLogin__UserName='{{ tuki_admin_login_username | replace("'", "\\'") }}'
AdminLogin__Password='{{ tuki_admin_login_password | replace("'", "\\'") }}'
{% for user in tuki_login_users %}
Login__Users__{{ loop.index0 }}__UserName='{{ user.username | replace("'", "\\'") }}'
Login__Users__{{ loop.index0 }}__Password='{{ user.password | replace("'", "\\'") }}'
{% endfor %}

GEMINI_API_KEY='{{ tuki_gemini_api_key | replace("'", "\\'") }}'
GOOGLE_PLACES_API_KEY='{{ tuki_google_places_api_key | replace("'", "\\'") }}'
Google__ClientId='{{ tuki_google_client_id | replace("'", "\\'") }}'
Facebook__AppId='{{ tuki_facebook_app_id | replace("'", "\\'") }}'
Facebook__AppSecret='{{ tuki_facebook_app_secret | replace("'", "\\'") }}'
Email__ConnectionString='{{ tuki_email_connection_string | replace("'", "\\'") }}'
Email__SenderAddress='{{ tuki_email_sender_address | replace("'", "\\'") }}'
